* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0f3057;
  color: #e7e7de;
}

form {
  height: 240px;
  background-color: #00587a;
  box-shadow: 5px 5px #002736;
  padding: 10px 24px;
  border-radius: 8px;
}

h1 {
  text-shadow: 2px 2px #0f3057;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  text-shadow: 2px 2px #0f3057;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

input,
button,
select {
  border: none;
  outline: none;
  border-radius: 3px;
  margin-right: 3px;
  padding: 0.5rem;
}

button {
  position: relative;
  box-shadow: 0 2px #002736;
  appearance: none;
  cursor: pointer;
  background: #008891;
  color: #e7e7de;
  transition: all 0.5s ease;
}

button:hover {
  background: #006b96;
}

button:active {
  top: 2px;
  box-shadow: 0 0 #002736;
}

input {
  appearance: none;
}

select {
  appearance: none;
}
